{% extends "layout.html" %}

{% block title %}Artists{% endblock %}

{% block main %}
<div class="container mt-5">
    <h2>Check Out Other Artists</h2>
    <div class="row">
        {% for image in images %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{ url_for('uploaded_file', filename=image.image_url) }}" alt="{{ image.image_name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ image.image_name }}</h5>
                        <p class="card-text">By {{ image.username }}</p>
                        <a href="/public_profile/{{ image.user_id }}" class="btn btn-primary">View Profile</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
